textarea {
    background-color: rgb(226, 226, 248);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    height: 200px;
    width: 500px;
}